n8n/01-review-delay.json
{
  "name": "01 · Review Request (30-min delay)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "review-delay",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "review-delay"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "minutes"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Wait 30 min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://barberqueue.pro/api/reviews/request",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WEBHOOK_SECRET }}"
            },
            {
              "name": "x-subdomain",
              "value": "={{ $json.body.subdomain }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ client_id: $json.body.client_id }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Send Review Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Wait 30 min", "type": "main", "index": 0 }]
      ]
    },
    "Wait 30 min": {
      "main": [
        [{ "node": "Send Review Request", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "templateId": "barberpro-review-delay"
  },
  "tags": []
}
