n8n/03-ai-autoreply.json
{
  "name": "03 · AI Auto-Reply (Inbound SMS)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "autoreply",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "autoreply"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://barberpro.ca"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'anthropic/claude-3.5-haiku',\n  max_tokens: 150,\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a friendly assistant for ' + $json.body.shop_name + ' barbershop in Toronto. Reply in 1-2 short sentences. Be warm but concise. If someone wants to book an appointment, tell them to call or message the shop directly. Never make up prices or availability.'\n    },\n    {\n      role: 'user',\n      content: $json.body.client_name + ' says: ' + $json.body.message\n    }\n  ]\n}) }}",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "OpenRouter AI Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://barberpro.ca/api/messages/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WEBHOOK_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  subdomain: $('Webhook').first().json.body.subdomain,\n  to_number: $('Webhook').first().json.body.from_number,\n  message:   $json.choices[0].message.content\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Send SMS Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "OpenRouter AI Reply", "type": "main", "index": 0 }]
      ]
    },
    "OpenRouter AI Reply": {
      "main": [
        [{ "node": "Send SMS Reply", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "templateId": "barberpro-ai-autoreply"
  },
  "tags": []
}
