n8n/03-ai-autoreply.json
{
  "name": "03 · AI Auto-Reply (Inbound SMS)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "autoreply",
        "options": {}
      },
      "id": "d9a7504e-a06b-42cf-b76d-d9912687d9f4",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -48,
        32
      ],
      "webhookId": "autoreply"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://barberqueue.pro/api/messages/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n      subdomain: $('Webhook').first().json.body.subdomain,\n      to_number: $('Webhook').first().json.body.from_number,\n      message: $json.output\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b506e516-cc3e-4121-934b-e169fc640686",
      "name": "Send SMS Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        32
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "nm7RIfv3z6lWIy72",
          "name": "Barber Pro webhook"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=Today is {{ $now.setZone('America/Toronto').toFormat('cccc, MMMM d, yyyy') }}.\n  You are a friendly SMS assistant for {{ $json.body.shop_name }}, a {{ $json.body.business_type || 'barbershop' }} in Toronto.\n\n  CRITICAL LANGUAGE RULE:\n  Detect the language of the customer's last message and reply in EXACTLY that same language.\n    - English message → English reply\n    - Spanish message → Spanish reply\n    - French message → French reply\n  Never switch languages on your own.\n\n  CRITICAL HONESTY RULE:\n  The only verified information you have about this shop is what's in the shop_data block below.\n    - If the customer asks something covered by shop_data, answer using ONLY those values.\n    - If the customer asks something NOT in shop_data (or a field is empty), reply that you cannot confirm and they should call the shop directly or use\n  the online booking page.\n    - NEVER invent hours, prices, services, days, or any other detail.\n\n  shop_data:\n    {{ JSON.stringify($json.body.shop_data) }}\n\n  BOOKING:\n    If the customer wants to book, send them this exact link: {{ $json.body.booking_url }}\n\n  STYLE:\n    Keep replies to 1-2 short sentences. Be warm but concise."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        32
      ],
      "id": "9160f88f-0ce2-4b0c-b000-8b3cfe03b2b1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        112,
        240
      ],
      "id": "c398451c-2267-4f98-b39f-d5381d640ba5",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "fDutekh5TYjLH1I2",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.from_number }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        240,
        240
      ],
      "id": "51237662-c52f-44b7-aa16-95c75702db61",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send SMS Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0bd5d982-63cf-4e90-96ac-17d54ce227bf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f2d88b16f70955ba1f4dddf4394eea1e7f9d3668af6d5335739ed80e4bf4e4b1"
  },
  "nodeGroups": [],
  "id": "fxKf56Hha5e2bli5",
  "tags": []
}